
/* --------------------------------- */
/*     STYLES FOR THE FULLSCREEN     */
/* --------------------------------- */
html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  background-color: #F5EDE5
}
